In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('../raw_data/calls_raw.csv')

In [7]:
df['week'] = df['week'].astype(int)
df['calls'] = df['calls'].astype(int)

In [8]:
df['provincia'].unique()

array(['Agrigento', 'Alessandria', 'Ancona', 'Arezzo', 'Ascoli Piceno',
       'Asti', 'Avellino', 'Bari', 'Barletta-Andria-Trani', 'Belluno',
       'Benevento', 'Bergamo', 'Biella', 'Bologna', 'Bolzano/Bozen',
       'Brescia', 'Brindisi', 'Cagliari', 'Caltanissetta', 'Campobasso',
       'Caserta', 'Catania', 'Catanzaro', 'Chieti', 'Como', 'Cosenza',
       'Cremona', 'Crotone', 'Cuneo', 'Enna', 'Fermo', 'Ferrara',
       'Firenze', 'Foggia', 'ForlÃ¬-Cesena', 'Frosinone', 'Genova',
       'Gorizia', 'Grosseto', 'Imperia', 'Isernia', 'La Spezia',
       "L'Aquila", 'Latina', 'Lecce', 'Lecco', 'Livorno', 'Lodi', 'Lucca',
       'Macerata', 'Mantova', 'Massa-Carrara', 'Matera', 'Messina',
       'Milano', 'Modena', 'Monza e della Brianza', 'Napoli', 'Novara',
       'Nuoro', 'Olbia-Tempio', 'Oristano', 'Padova', 'Palermo', 'Parma',
       'Pavia', 'Perugia', 'Pesaro e Urbino', 'Pescara', 'Piacenza',
       'Pisa', 'Pistoia', 'Pordenone', 'Potenza', 'Prato', 'Ragusa',
       'Ravenna', 'Reggio Calabria', "Reggio nell'Emilia", 'Rieti',
       'Rimini', 'Roma', 'Rovigo', 'Salerno', 'Sassari', 'Savona',
       'Siena', 'Siracusa', 'Sondrio', 'Sud Sardegna', 'Taranto',
       'Teramo', 'Terni', 'Torino', 'Trapani', 'Trento', 'Treviso',
       'Trieste', 'Udine', "Valle d'Aosta/VallÃ©e d'Aoste", 'Varese',
       'Venezia', 'Verbano-Cusio-Ossola', 'Vercelli', 'Verona',
       'Vibo Valentia', 'Vicenza', 'Viterbo', 'missing', 'Aosta',
       'Bolzano', 'Carbonia-Iglesias', 'Forlì Cesena', 'Medio Campidano',
       'Pesaro Urbino', 'Reggio Emilia', 'Ogliastra', 'Z'], dtype=object)

In [9]:
replacements = {
   'Valle d\'Aosta/VallÃ©e d\'Aoste': 'Valle d\'Aosta',
   'ForlÃ¬-Cesena': 'Forlì-Cesena',
   'Z': 'missing',
   'Bolzano/Bozen': 'Bolzano'
}

df['provincia'] = df['provincia'].replace(replacements)


df['provincia'].unique()

array(['Agrigento', 'Alessandria', 'Ancona', 'Arezzo', 'Ascoli Piceno',
       'Asti', 'Avellino', 'Bari', 'Barletta-Andria-Trani', 'Belluno',
       'Benevento', 'Bergamo', 'Biella', 'Bologna', 'Bolzano', 'Brescia',
       'Brindisi', 'Cagliari', 'Caltanissetta', 'Campobasso', 'Caserta',
       'Catania', 'Catanzaro', 'Chieti', 'Como', 'Cosenza', 'Cremona',
       'Crotone', 'Cuneo', 'Enna', 'Fermo', 'Ferrara', 'Firenze',
       'Foggia', 'Forlì-Cesena', 'Frosinone', 'Genova', 'Gorizia',
       'Grosseto', 'Imperia', 'Isernia', 'La Spezia', "L'Aquila",
       'Latina', 'Lecce', 'Lecco', 'Livorno', 'Lodi', 'Lucca', 'Macerata',
       'Mantova', 'Massa-Carrara', 'Matera', 'Messina', 'Milano',
       'Modena', 'Monza e della Brianza', 'Napoli', 'Novara', 'Nuoro',
       'Olbia-Tempio', 'Oristano', 'Padova', 'Palermo', 'Parma', 'Pavia',
       'Perugia', 'Pesaro e Urbino', 'Pescara', 'Piacenza', 'Pisa',
       'Pistoia', 'Pordenone', 'Potenza', 'Prato', 'Ragusa', 'Ravenna',
       'Reggio Calabria', "Reggio nell'Emilia", 'Rieti', 'Rimini', 'Roma',
       'Rovigo', 'Salerno', 'Sassari', 'Savona', 'Siena', 'Siracusa',
       'Sondrio', 'Sud Sardegna', 'Taranto', 'Teramo', 'Terni', 'Torino',
       'Trapani', 'Trento', 'Treviso', 'Trieste', 'Udine',
       "Valle d'Aosta", 'Varese', 'Venezia', 'Verbano-Cusio-Ossola',
       'Vercelli', 'Verona', 'Vibo Valentia', 'Vicenza', 'Viterbo',
       'missing', 'Aosta', 'Carbonia-Iglesias', 'Forlì Cesena',
       'Medio Campidano', 'Pesaro Urbino', 'Reggio Emilia', 'Ogliastra'],
      dtype=object)

In [10]:
df['week'].unique()

array([ 2,  3,  4,  5,  6, 10, 11, 12, 13, 14, 15, 18, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38,  0,  7,  9, 16, 17,
       19, 31,  1,  8, 36, 39, 41, 42, 43, 44, 46, 47, 48, 49, 51, 53, 40,
       45, 52, 50])

In [11]:
def get_week_end_date(year, week):
   # Start with January 1st of the year
   jan_first = pd.Timestamp(f'{year}-01-01')
   # Add the number of weeks
   week_start = jan_first + pd.Timedelta(weeks=week)
   # Add 6 days to get to end of week
   week_end = week_start + pd.Timedelta(days=6)
   return week_end


df['date'] = df.apply(lambda row: get_week_end_date(row['year'], row['week']), axis=1)

In [12]:
df = df[['year', 'week', 'date', 'provincia', 'calls']]
df

       year  week       date  provincia  calls
0      2024     2 2024-01-21  Agrigento      1
1      2024     3 2024-01-28  Agrigento      3
2      2024     4 2024-02-04  Agrigento      4
3      2024     5 2024-02-11  Agrigento      1
4      2024     6 2024-02-18  Agrigento      4
...     ...   ...        ...        ...    ...
41215  2013    48 2013-12-09    missing     12
41216  2013    49 2013-12-16    missing      4
41217  2013    50 2013-12-23    missing      4
41218  2013    51 2013-12-30    missing      4
41219  2013    52 2014-01-06    missing      2

[41220 rows x 5 columns]

In [13]:
df.to_csv('../processed_data/calls_clean.csv', index=False, encoding='UTF-8')