In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('../processed_data/calls_clean.csv')
df.sample(4)

       year  week        date          provincia  calls
40160  2013    52  2014-01-06      Reggio Emilia      1
38362  2013     6  2013-02-18            Firenze      6
31057  2015    43  2015-11-04  Carbonia-Iglesias      1
16571  2020     7  2020-02-25            Pescara      1

In [20]:
calls_by_week = df.groupby(['year', 'week'])['calls'].sum().reset_index()
pivoted_df = calls_by_week.pivot(index='year', columns='week', values='calls')
pivoted_df = pivoted_df.fillna(0).astype(int)
pivoted_df.columns = [f'{col + 1}' for col in pivoted_df.columns]
pivoted_df.reset_index(inplace=True)


pivoted_df

,year,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2013,252,327,264,277,229,217,386,332,397,...,252,214,218,330,339,317,213,183,82,0
1,2014,112,220,225,220,183,202,215,210,177,...,235,226,186,280,198,195,207,124,72,0
2,2015,87,155,155,207,155,157,151,177,159,...,115,128,144,289,212,157,138,112,83,0
3,2016,22,161,146,127,126,165,137,178,150,...,96,139,171,230,192,201,146,116,130,0
4,2017,0,136,166,122,142,120,114,122,103,...,128,129,164,325,315,251,330,267,196,14
5,2018,173,170,240,239,211,197,192,190,181,...,138,121,177,319,252,217,145,167,56,0
6,2019,147,181,166,166,150,159,186,162,146,...,155,87,104,298,216,162,172,107,47,0
7,2020,96,107,115,118,134,161,161,189,134,...,227,289,253,668,379,360,327,203,169,0
8,2021,84,248,269,297,276,348,385,324,302,...,250,212,296,560,546,321,325,283,223,0
9,2022,22,263,203,263,242,252,237,215,201,...,184,207,254,369,345,431,336,247,287,0
10,2023,0,341,350,383,331,340,286,274,289,...,271,243,284,710,758,671,631,507,517,65
11,2024,454,473,446,434,412,360,416,373,373,...,0,0,0,0,0,0,0,0,0,0

In [21]:
pivoted_df.to_csv('../processed_data/calls_by_week.csv', index=False)

In [23]:
#totals by year
calls_by_year = df.groupby(['year'])['calls'].sum().reset_index()
calls_by_year

    year  calls
0   2013  15592
1   2014  10474
2   2015   8082
3   2016   8125
4   2017   8085
5   2018   9602
6   2019   8647
7   2020  15708
8   2021  16272
9   2022  11909
10  2023  16283
11  2024  13312

In [25]:
calls_by_year.to_csv('../processed_data/calls_by_year.csv', index=False)